body {
  background: linear-gradient(to right, rgb(212, 82, 199), rgb(108, 23, 228));
}

.Heading {
  color: aquamarine;
}

.Input {
  border: 0;
  height: 32px;
  font-size: larger;
  border-radius: 20px;
  padding: 8px;
  margin-bottom: 8px;
}

.Namee {
  font-size: 2em;
  font-family:'Times New Roman', Times, serif;
  
}